        <article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
            <figure>
               <a href="single.html"><img src="static/images/pic_1.jpg" alt="Image" class="img-responsive"></a>
            </figure>
            <span class="fh5co-meta"><a href="single.html">{{application.preferred_style}}</a></span>
            <h2 class="fh5co-article-title"><a href="single.html">{{application.demanded_course}}</a></h2>
            <span class="fh5co-meta fh5co-date">{{application.registered_date}}</span>
        </article>